* {
  box-sizing: border-box;
}
@font-face {
  font-family: "museosanscyrl";
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-300.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "museosanscyrl";
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "museosanscyrl";
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("ttf");
  font-weight: 700;
}
.body {
  margin: 0;
}
.block {
  width: 406px;
  height: 561px;
  background-color: #fff;
}
.card {
  width: 300px;
  height: 462px;
  border: 1px solid #e8e8e8;
  margin-left: 10px;
  margin-top: 5px;
}
.rate {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #212121;
  margin: 61px 89px 0px 87px;
  font-family: "museosanscyrl";
}
.price {
  display: inline-block;
  font-size: 48px;
  line-height: 20px;
  font-weight: 500;
  color: #5ba2a9;
  margin: 35px 0px 0px 63px;
  font-family: "museosanscyrl";
}
.rub {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #5ba2a9;
  margin: 58px 0px 0px 13px;
  font-family: "museosanscyrl";
}
.text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #454545;
  margin: 45px 45px 0px 51px;
  text-align: center;
  font-family: "museosanscyrl";
}
.list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.list-item {
  margin-bottom: 1em;
}
.wrap-item {
  display: block;
}

.order-border {
  width: 200px;
  height: 54px;
  border: 2px solid #e8e8e8;
  margin: 47px 50px 49px 48px;

  font-family: "museosanscyrl";
}
.order {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5a5a5a;
  text-align: center;
  padding: 17px 0px 20px 0px;
}
